*{
  box-sizing: border-box;
}

.App { /*style for background*/
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  height: 100vh;
  text-align: center;
}
.header{ /*style for header*/
  font-size: 40px;
  font: arial;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.45);
  color: white;
  padding: 10px 40px;
  text-align: left;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
}

.Logo { /*style for logo*/
  height: 50px;
  margin-right: 20px;
}

.text-input{ /*style for input bar*/
  position:absolute;
  bottom:0;
  height:60px;
  width:100%;
  border-top:2px solid white;
  padding: 10px;
  background: rgba(254, 255, 255, 0.45)
}

.text-input input { /*style for input text*/
  width: calc(100% - 70px);
  height: 80%;
  font-size: 24px;
  border-radius: 15px;
  background: black;
  border: 1px solid white;
  color: white;
  padding-bottom: 4px;
  padding-left: 10px;
}

.text-input button { /*style for send button*/
  width: 28px;
  height: 39%;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid white;
  position: absolute;
  right: 49px;
  top: 13px;
  font-family: Helvetica;
  padding-left: 5px;
  padding-top: 4px;
  outline: none;
}

.text-input button:hover { /*changes color of button*/
  background: rgb(128, 0, 70);
  color: white;
}

.ChatLeft{ /*style for left chat bubble*/
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  color: white;
  background-color: black;
  padding: 10px;
  position: relative;
  float: left;
  top: 465px;
  text-align: right;
  font-size: 20px;
}

.ChatRight{ /*style for right chat bubble*/
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  color: white;
  background-color: black;
  padding: 10px;
  position: relative;
  float: right;
  top: 505px;
  text-align: right;
  font-size: 20px;
}

.text-input button[disabled] {
  color: white;
  background: rgb(109, 58, 100);
  cursor:default;
}